<div class="container">
    <div *ngIf="quoteExists; then editQuote else addQuote"></div>
    <ng-template #editQuote>
        <h2>Edit a quote</h2>
    </ng-template>
    <ng-template #addQuote>
        <h2>Add a quote</h2>
    </ng-template>

    <form #f="ngForm" [formGroup]="quoteForm" (ngSubmit)="submitForm(f)">
        <div class="form-group">
            <label for="quote" class="label">Quote</label>
            <input type="text" class="form-control" formControlName="quote">
            <p *ngIf="f.submitted && quote.invalid">A quote is required</p>
        </div>
        <div class="form-group">
            <label for="quote" class="label">Author</label>
            <input type="text" class="form-control" formControlName="author">
            <p class="" *ngIf="f.submitted && quote.invalid">An author is required</p>
        </div>
        <div class="form-group">
            <label for="quote" class="label">id</label>
            <input type="number" class="form-control" formControlName="id">
            <p class="" *ngIf="f.submitted && quote.invalid">An ID is required.</p>
        </div>
        <div class="form-group">
            <label for="quote" class="label">Source</label>
            <input type="text" class="form-control" formControlName="source">
            <p class="" *ngIf="f.submitted && quote.invalid">A source is required.</p>
        </div>
        <div class="form-group">
            <label for="quote" class="label">Topic</label>
            <input type="text" class="form-control" formControlName="topic">
            <p class="" *ngIf="f.submitted && quote.invalid">A topic is required.</p>
        </div>
        <div>
            <button class="button">Submit</button>
        </div>
    </form>
</div>