<!-- container and spacing-->
<!-- <div class="container">
<div class="row">
        
    <button (click)="sortQuotes()" class="button">Sort</button>
    <div class="col-sm"></div>


<quote-el *ngFor="let m of quotes" class="col-4" [quote]="m">

</quote-el>

</div>
</div> -->

<div class="container">
    <button (click)="sortQuotes()" class="button btn btn-info" >Sort</button>
    <div class="row" class="quotes-container" >
                    <quote-el *ngFor="let m of quotes" [quote]="m">

                            </quote-el>
      
    </div>
  </div>